    <table class="table table-light table-hover justify-content-center">
      <thead>
        <tr>
          <td scope="col"><strong>Sabor</strong></td>
          <td scope="col"><strong>Descrição</strong></td>
          <td scope="col"><strong>Categoria</strong></td>
          <td scope="col"><strong>Quantidade</strong></td>
          <td scope="col"><strong>Preço</strong></td>
        </tr>
      </thead>
      <tbody>
        <%= render @produtos %>
      </tbody>
    </table>
