body {
  background-color: #fff;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f05458;
  height: 100vh;

}

.content {
  width: 600px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 15px;

  .login-title{
    // padding-top: 10px;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    color: #1b79c3;
  }

  .formulary{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5%;

    .logo{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;
    }
  }

  .inputs{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .input-group{
    width: 100%;
    display: flex;
    flex-direction: column;

    input{
      width: 100%;
      outline: none;
      height: 3.5rem;
      border-radius: 10px;
      border: 1px solid #eeeeee;
      box-shadow: 0px 3px 6px #00000029;
      font-size: 14px;
      padding: 1%;
    }
  }

  .remember-check{
    margin-top: 10px;
   display: flex;
   align-items: center;
   padding: 1%;
   gap: 10px;

   input{
     cursor: pointer;
   }

   span{
     font-size: 16px;
     margin-top: 5px;
     font-weight: bold;
   }
  }

  .actions{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    #btn-confirm{
      margin-top: 3rem;
      width: 100%;
      height: 4rem;
      font-size: 18px;
      font-weight: bold;
      background-color: #1b79c3;
      transition: filter 0.2ms;

      &:hover{
        filter: brightness(90%)
      }
    }
  }

}

#notice {
  color: green;
}


.field_with_errors {
  padding: 2px;
  background-color: red;
  display: auto;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.header-container{
  background-color: #f05458;
  padding: 0.5% 1% 0.5% 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid #1b79c3;

  .header-left-content{
    display: flex;
    align-items: center;
    list-style: none;

    .options-container{
      margin-left: 20px;
      display: flex;
      align-items: center;
      gap: 15px;
      font-weight: bold;
      font-size: 18px;

      .option{
        color: white;
      }
    }
  }

  .header-right-content{
    display: flex;
    align-items: center;
    gap: 15px;
    
    .search-container{
      display: flex;
      align-items: center; 
      gap: 10px;

      .form-search{
        display: flex;
        margin-right: 50px;
      }
      
      input{
        outline: none;
        border-radius: 8px;
        border: 1px solid #eeeeee;
        padding: 1%;
        margin-right: 5px;
        font-size: 14px;
      }
    }
  }

}

